<div class="page-header">
			<h1>Aprovar Estúdios</h1>
		</div>
<ul class="estudios">

<% @studios.each do |studio| %>
  
  <li class="row well">
				<ul>
					<li class="span4">
						<%= link_to studio_path(studio) do %>
						<%= image_tag "img_estudio.jpg" %>
						<% end %>
					</li>
					<li class="bairro">
					  <%= studio.neighborhood %>
					</li>
					<li>
						<h2><%= link_to studio.name, studio_path(studio) %></h2>
					</li>
					<li>
					  <%= studio.description %>
					</li>
					<li class="tipo"><%= studio.show_type %></li>
				</ul>
			</li>
<% end %>
</ul>
